{% extends "base.html" %}

{% block "head" %}

  {% load bootstrap5 %}

  {% bootstrap_css %}
{% endblock "head" %}

{% block "title" %}Password reset{% endblock %}

{% block "content" %}

  {% if validlink %}
    <h1>Enter your new password</h1>
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_javascript %}
      {% bootstrap_form_errors form %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-dark btn-lg">Change password</button>
      {% comment %}
      <table>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Password:</label>
          </td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm password:</label>
          </td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Change password" />
          </td>
        </tr>
      </table>
      {% endcomment %}
    </form>
  {% else %}
    <h1>Password reset unsuccessful.</h1>
    <p>Password reset link has expired.</p>
  {% endif %}

{% endblock %}
