{% extends "base.html" %}

{% block "head" %}

  {% load bootstrap5 %}

  {% bootstrap_css %}
{% endblock "head" %}

{% block "title" %}Password reset{% endblock %}

{% block "content" %}
  <h1>Password reset</h1>
  <form action="" method="post">
    {% comment %}
      {% if form.errors %}
  
          {% for field in form %}
            {% for error in field.errors %}
              <div class="msg danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
  
        {% endif %}
  
  
        <p>Your e-mail address: {{ form.email }}</p>
    {% endcomment %}
    {% csrf_token %}
    {% bootstrap_javascript %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-dark btn-lg">Send link</button>
    <a href="{% url 'index' %}" class="btn btn-dark btn-lg">Cancel</a>
  </form>
{% endblock %}
