{% extends "base.html" %}

{% block "head" %}

    {% load bootstrap5 %}

    {% bootstrap_css %}
{% endblock "head" %}

{% block "title" %}Sign up{% endblock %}

{% block "content" %}
    <div class="container">
        <h1>Register</h1>
        {% comment %}
        {% if messages %}
            <ul class="messages">

                {% for message in messages %}
                    <li style="list-style: none" {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}

            </ul>
        {% endif %}

        {% endcomment %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form reg_form alert_error_type="all" %}
            <button class="btn btn-dark btn-lg" type="submit">Sign up</button>
        </form>
    </div>
{% endblock %}
