{% extends "base.html" %}

{% load bootstrap5 %}

{% block "content" %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <div id="msg-info">{% bootstrap_messages %}</div>
  <h1>Home</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo hic eveniet cum molestias! Perferendis optio necessitatibus odio quisquam beatae magnam cum, ducimus eligendi eveniet, illum quos. Pariatur dignissimos rem tempore autem beatae accusamus, doloremque ut soluta repellendus odio, eius ratione eum. Quod, voluptatibus architecto. Accusamus obcaecati perferendis ullam, consequatur officiis voluptate quaerat? Nostrum odit libero minima optio quas aliquam asperiores aliquid nobis labore voluptas id harum delectus, corrupti quia recusandae ipsam numquam vel expedita ab iusto eaque repellat magni saepe ea. Voluptate, minus temporibus veritatis est quae ullam ducimus ipsa dolores exercitationem suscipit officiis velit, sunt delectus magnam, enim odio.
  </p>
{% endblock "content" %}
